html {
  font-size: 125%;
  padding: 6rem 0rem 1rem 0rem;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}

h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: 'Permanent Marker', cursive;
	padding: 4rem 0rem 1rem 0rem;
}

h4, .h4 {
	font-family: 'Permanent Marker', cursive;
	color: #666666;
}

.alert {
   width:40%;    
}

form label {
  display: inline-block; /* this is important */
  width: 200px;
}

input {
	cursor: pointer;
}

span {
	cursor: default;
}

.editor-box{
	background: #EEEEEE;
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(209, 13, 19)
}

.py-overlay {
    visibility: hidden;
    opacity: 0;
}

/*
.py-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 1);
}
*/
